/* Variáveis */
:root {
    
    --btn-shadow: 0px 1px 3px gray;
    --btn-shadow-hover: 1px 1px 10px gray;

    /* Fontes */
    --tangerine-font: "Tangerine", cursive;
    --gill-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --caveat-font: "Caveat", cursive;
    --metamorphous-font: "Metamorphous", serif;

    --outfit-font: "Outfit", sans-serif;
    --inter-font: "Inter", sans-serif;
    --hubballi-font: "Hubballi", sans-serif;
    --open-sans-font: "Open Sans", sans-serif;
    --poppins-font: "Poppins", sans-serif;

    /* Cores */
    --text-contrast: rgb(231, 202, 171);

    --purple1: #2b1639;
    --purple2: #47255e;
    --blue2: #7c34ac;
    --blue3: #45137b;
    --gray: #ebf2fc;
    --yellow1: #ae98ff;

    /* cor temporária - onde deveriam ficar imagens */
    --temp: linear-gradient(45deg, #dbdbdb 8.33%, #f7f7f7 8.33%, #f7f7f7 50%, #dbdbdb 50%, #dbdbdb 58.33%, #f7f7f7 58.33%, #f7f7f7 100%);
}

/* Gerais */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0;
    display: flex;
    flex-direction: column;
    background-color: var(--purple1);
    color: white;
    font-family: var(--gill-font);
    /* gap: 80px; */
}

.main-container{
    width: 70%;
    margin: auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;      /* dist entre titulo e conteúdo */
    
    /* Só pra debug: */
    /* background-color: rgb(249, 249, 235); */
}

.section-title{
    color: var(--text-contrast);

    /* font-family: var(--inter-font); */
    font-family: var(--outfit-font);
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: bold;
    font-size: 29px;
    text-align: center;

    min-width: 80%;
    height: 30px;
    /* border-radius: 15px; */
    padding: 7px 0;
    /* box-shadow: 0 2px 5px gray; */

    /* centralizar o texto na div: */
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-content{
    display: grid;
    width: 100%;
}

button{
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: var(--btn-shadow);
    background-color: white;
    color: black;
    padding: 0 20px;
    
    font-size: 16px;
    font-weight: bold;
    font-family: var(--inter-font);
    font-optical-sizing: auto;
    font-style: normal;
    
    height: 30px;
    min-width: 20%;
    cursor: pointer;
    
    transition: 0.2s;
}

button:hover{
    background-color: var(--blue2);
    /* background-color: #1a1a59; */
    color: white;
    box-shadow: var(--btn-shadow-hover);
}

button:active{
    transform: translateY(2px);
}

.contato-btn{
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: var(--btn-shadow);
    background-color: white;
    color: black;
    padding: 0 20px;
    
    font-weight: bold;
    font-family: var(--inter-font);
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    
    cursor: pointer;
    
    transition: 0.2s;
    
    height: 45px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    gap: 10px;
}

.contato-btn:hover{
    background-color: var(--blue2);
    color: white;
    box-shadow: var(--btn-shadow-hover);
}

.contato-btn:active{
    transform: translateY(2px);
}

.contato-btn img{
    height: 75%;
}


.background-color2{
    /* Sem grediente: */
    background-color: var(--purple2);
    
    /* Com gradiente: (com padding pra compensar a parda de tamanho visual pelo gradiente) */
    /* background: #2B1639;
    background: linear-gradient(0deg,rgba(43, 22, 57, 1) 0%, rgba(71, 37, 94, 1) 3%, rgba(71, 37, 94, 1) 97%, rgba(43, 22, 57, 1) 100%); */
    /* padding: 10px 0; */
}

.background-color2 .section-title{
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--purple1) 20%, var(--purple1) 80%, rgba(255, 255, 255, 0) 100%);
}

.background-color1 .section-title{
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--purple2) 20%, var(--purple2) 80%, rgba(255, 255, 255, 0) 100%);
}

/* --------------------- Carrosel --------------------- */
/* o scroll marker não funciona -- provavelmente porque o navegador n suporta (featura mt nova) */

.carrossel {
    display: flex;
    gap: 10px;
    width: 90vw;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 10px 10px;
}

.carrossel::scroll-marker-group{
    display: flex;
    justify-content: center;
    gap: .5em;
}

.card::scroll-marker{
    content: '';
    height: 1em;
    width: 1em;
    background-image: var(--temp);
    background-size: 23.00px 23.00px;
    border-radius: 50%;
}

.card::scroll-marker:target-current{
    background-color: var(--purple2);
}

.carrossel::-webkit-scrollbar{
    display: none;
}

.carrossel::scroll-button(right), .carrossel::scroll-button(left){
    content: '►';
    border: none;
    background-color: var(--purple2);
    color: white;
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    position-area: right center;
    translate: -50%;
}

.carrossel::scroll-button(left){
    content: '◄';
    position-area: left center;
    translate: 50%;
}

/* .card {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    border-radius: 50px; 
    background-color: hsla(240, 77%, 33%, 0.34) ;
    background-size: 23.00px 23.00px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    
    text-align: center;
    align-content: center;
} */

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-overlay{
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1rem;
    color: white;

    background: linear-gradient(
        to top,
        rgba(0,0,0,.8) 0%,
        rgba(0,0,0,.4) 30%,
        transparent 60%
    );
}

.card-overlay h3{
    font-size: 30px;
    font-family: var(--inter-font);
    margin: 0 0;
}

.card-overlay p{
    font-size: 18px;
    font-family: var(--inter-font);
}

/* --------------------- Navbar --------------------- */
nav{
    /* background-color: var(--purple2); */
    background: #47255E;
    background: linear-gradient(180deg,rgba(71, 37, 94, 1) 50%, rgba(255, 255, 255, 0) 100%);

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;

    /* quero que a nav bar fique em cima da capa de modo que eu consiga ver o gradiente */
}

nav ul{
    padding: 0 0;
    margin: 0 0;
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 60px;
    align-content: center;
    margin: 0 5px;
}

nav a{
    height: 70%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;

    color: white;
    font-size: 16px;
    font-family: var(--poppins-font);
    font-weight: bold;

}

nav .horizontal-bar a:hover{
    background-color: var(--blue2);
}

nav .sidebar a:hover{
    background-color: #00004694;
}

nav ul li a.highlight{
    background-color: white;
    color: var(--purple2);
}

nav ul li a.highlight:hover{
    background-color: rgb(228, 228, 228);
    color: var(--purple2);
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #00004691;
    backdrop-filter: blur(10px);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sibedar li{
    width: 100%;
}

.menu-button{
    display: none;
}

@media(max-width: 700px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }

}

/* --------------------- Capa --------------------- */
#capa{
    background-image: 
        linear-gradient(0deg,rgba(43, 22, 57, 1) 0%, rgba(255, 255, 255, 0) 15%),
        url(/assets/images/foto-capa.png);

    background-size: cover;
    background-position: 0% 10%;
    background-repeat: no-repeat;
    background-origin: content-box;

    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    /* padding-bottom: 10vh; */
    align-items: flex-start;
    /* padding-left: 100px; */
    margin-bottom: 10vh;

    font-family: var(--gill-font);
    font-optical-sizing: auto;
    font-style: normal;

    color: var(--text-contrast);
    font-weight: bold;
}

#texto-capa{
    margin: 10vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "titulos localizacao";
    text-shadow: var(--blue3) 4px 4px 10px;
    width: 80%;
    align-self: center;
}

#texto-capa #titulos{
    grid-area: titulos;
    display: flex;
    flex-direction: column;
}

#texto-capa h1{
    font-size: 50px;
    font-weight: 700;
    margin: 0 0;
    font-family: var(--caveat-font);
}

#texto-capa h2{
    font-size: 25px;
    margin: 0 0;
}

#location{
    grid-area: localizacao;
    font-size: 20px;
    font-weight: normal;
    background-color: var(--yellow1);
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    justify-self: flex-end;
    padding: 0 15px;
    height: 35px;
    /* margin-top: 7vh; */
}

#location img{
    height: 80%;
}

/* --------------------- Seção Sobre --------------------- */

#sobre .main-container{
    padding-top: 10px;
}

#section-sobre{
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
    "perfil texto"
    "botoes botoes";
    align-content: space-between;
    column-gap:100px;
    row-gap: 70px;
}

#div-botoes-sobre{
    grid-area: botoes;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

#sobre .main-container .section-content{
    grid-area: texto;
    font-size: 20px;
    /* font-family: var(--open-sans-font); */
}

#sobre .main-container .section-content .titulo{
    font-size: 34px;
    font-weight: bold;
    /* color: var(--purple2); */
    color: var(--text-contrast);
    margin: 10px 0;

    font-family: var(--outfit-font);
    font-optical-sizing: auto;
    font-style: normal;
}

/* --------------------- Seção História --------------------- */

#carrossel-historia{
    anchor-name: --carrosselTrabalho;
}

#carrossel-historia::scroll-button(right), #carrossel-historia::scroll-button(left){
    position-anchor: --carrosselTrabalho;
}

#carrossel-historia .card{
    height: 500px;
    /* aspect-ratio: 5 / 3;  /* Para o caso de querer manter a proporção na variação do tamanho de telas*/
    flex: 0 0 500px;
}

#carrossel-produtos .card{
    height: 250px;
    flex: 0 0 300px;
    color: white;
    background-color: var(--blue3);
    padding: 25px 25px;
}

.card .card-estrela {
    display: flex;
    flex: 1;
    margin-bottom: 0;
    /* border: 1px solid red; */
}
.card .card-estrela img{
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.card .card-descricao {
    /* display: flex; */
    /* border: 1px solid red; */
    flex: 4;
    font-family: var(--open-sans-font);
    font-size: 17px;
    overflow-y: auto;
    margin: 0 0;
    padding: 10px 10px;
    /* align-content: center; */
}

.card .card-descricao::-webkit-scrollbar {
  width: 7px;               
}

.card .card-descricao::-webkit-scrollbar-track {
  background: transparent;       
  border-radius: 5px;        
}

.card .card-descricao::-webkit-scrollbar-thumb {
  background: #0F508C;          
  border-radius: 5px;        
}

.card .card-descricao::-webkit-scrollbar-thumb:hover {
  background: var(--purple2);          
}


.card .card-nome {
    /* border: 1px solid red; */
    display: flex;
    justify-content: right;
    align-items: end;
    flex: 1;
    font-family: var(--outfit-font);
    font-size: 17px;
    margin: 0 0;
}

@media(max-width: 800px){
    .card{
        flex: 0 0 100%;
    }
}

/* --------------------- Seção Produtos --------------------- */

#carrossel-produtos{
    anchor-name: --carrosselProdutos;
}

#carrossel-produtos::scroll-button(right), #carrossel-produtos::scroll-button(left){
    position-anchor: --carrosselProdutos;
}

#produtos .main-container{
    padding-bottom: 100px;
}

#produtos button{
    border-radius: 8px;
    /* align-self: flex-end; */
    height: 35px;

    font-family: var(--poppins-font);
    font-weight: normal;
}

.overlay{
    position: fixed;
    inset: 0;

    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(3px);
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;
}

.modal{
    background: var(--purple1);
    /* color: var(--purple1); */
    padding: 1rem;
    padding-top: 0;
    width: 30rem;
    font-family: var(--gill-font);
    border-radius: 10px;
    border: var(--blue2) 4px solid;
}

.close-modal{
    font-size: 2rem;
    text-decoration: none;
    color: white;

    display: block;
    width: fit-content;
    margin-left: auto;
}

.modal h1{
    text-align: center;
    font-size: 20px;
    margin: 0 0;
}

.modal p{

}

.hidden{
    display: none;
}

label {
  display: block;
  margin-top: 15px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea{
    min-height: 100px;
    max-width: 100%;
}

.modal button{
    display: block;
    margin-left: auto;
}

/* --------------------- Footer --------------------- */

footer{
    background-color: var(--purple2);
    color: white;
    font-family: var(--open-sans-font);
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 40px;
}

footer .content{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
    "links title"
    "botao texto";
    column-gap:100px;
    row-gap: 20px;

    width: 80%;
    justify-self: center;
}

footer .content .links{
    grid-area: links;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .content .links a{
    text-decoration: none;
    color: white;

    display: flex;
    align-items: center;
    gap: 8px;
}

footer .content .links a:hover{
    color: #d3ddff;
}

footer .content .title{
    grid-area: title;
    text-align: end;
    font-size: 17px;
    font-weight: bold;
}

footer .content .texto{
    grid-area: texto;
    text-align: end;
    
}

footer .content .btn-div{
    grid-area: botao;
    align-content: center;
    height: 90px;
}

footer .content .btn-div .contato-btn{
    width: 200px;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    justify-self: flex-start;
}

hr {
  border: 0;                
  border-top: 1px solid #ffffff; 
  margin: 20px 0;           
  width: 80%;         
  justify-self: center;
}

footer .bottom{
    width: 80%;
    justify-self: center;
    text-align: center;
}

@media (max-width: 1200px){
    footer .content{
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 
        "links title"
        "links texto"
        "botao botao";
        column-gap: 10px;
        row-gap: 20px;
    }
    footer .content .links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15px;
    }
    footer .content .btn-div{
        grid-area: botao;
        justify-self: center;
        height: fit-content;
    }
}

@media (max-width: 800px){
    footer .content{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "texto"
        "links"
        "botao";
        row-gap: 30px;
    }
    footer .content .links{
        grid-area: links;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }
    footer .content .title, footer .content .texto{
        text-align: start;
    }
}

@media (max-width: 600px){
    footer .content{
        row-gap: 20px;
        grid-template-areas: 
        "title"
        "texto"
        "links"
        "links"
        "botao";
    }
    footer .content .btn-div .contato-btn{
        font-size: 13px;
        height: 30px;
    }
}